{% load dsfr_tags static docia %}
{% with id_prefix=doc.filename|add:"_" %}

<div class="fr-mb-2w">
  <p class="fr-mb-1w">
    <strong>Avenant n°{{ data.numero_avenant|default:"[Non trouvé]" }}</strong>
  </p>
  {% if data.objet_avenant %}
    <p class="fr-mb-1w">{{ data.objet_avenant }}</p>
  {% endif %}
  {% if data.incidence_financiere|dict_has_values %}
    <ul class="fr-list fr-mb-1w">
      {% with m=data.incidence_financiere %}
        {% if m.ht %}
          {% with value=m.ht|floatformat:2 copy_value=m.ht %}
            {% include "docia/details_ej/blocks/attribute.html" with title="Incidence financière HT" id=id_prefix|add:"incidence_financiere_ht" suffix=" €" %}
          {% endwith %}
        {% endif %}
        {% if m.taux_tva %}
          {% with value=m.taux_tva|as_percentage copy_value=m.taux_tva %}
            {% include "docia/details_ej/blocks/attribute.html" with title="Taux TVA" id=id_prefix|add:"incidence_financiere_taux_tva" %}
          {% endwith %}
        {% endif %}
        {% if m.tva %}
          {% with value=m.tva|floatformat:2 copy_value=m.tva %}
            {% include "docia/details_ej/blocks/attribute.html" with title="Incidence financière TVA" id=id_prefix|add:"incidence_financiere_tva" suffix=" €" %}
          {% endwith %}
        {% endif %}
        {% if m.ttc %}
          {% with value=m.ttc|floatformat:2 copy_value=m.ttc %}
            {% include "docia/details_ej/blocks/attribute.html" with title="Incidence financière TTC" id=id_prefix|add:"incidence_financiere_ttc" suffix=" €" %}
          {% endwith %}
        {% endif %}
      {% endwith %}
    </ul>
  {% endif %}
  {% if data.incidence_duree|dict_has_values %}
    <ul class="fr-list fr-mb-1w">
      {% with d=data.incidence_duree %}
        {% if d.prolongation %}
          {% with value=d.prolongation copy_value=d.prolongation %}
            {% include "docia/details_ej/blocks/attribute.html" with title="Prolongation" id=id_prefix|add:"incidence_duree_prolongation" suffix=" mois" %}
          {% endwith %}
        {% endif %}
        {% if d.date_fin_execution %}
          {% with value=d.date_fin_execution copy_value=d.date_fin_execution %}
            {% include "docia/details_ej/blocks/attribute.html" with title="Nouvelle date de fin" id=id_prefix|add:"incidence_duree_date_fin" %}
          {% endwith %}
        {% endif %}
      {% endwith %}
    </ul>
  {% endif %}
  {% with value=data.date_derniere_signature copy_value=data.date_derniere_signature %}
    {% include "docia/details_ej/blocks/attribute.html" with title="Date de dernière signature" id=id_prefix|add:"date_derniere_signature" %}
  {% endwith %}
</div>

<hr class="fr-mt-2w fr-mb-2w">

<ul class="fr-list">
  {% with value=data.objet_marche copy_value=data.objet_marche %}
    {% include "docia/details_ej/blocks/attribute.html" with title="Objet du marché" id=id_prefix|add:"objet_marche" %}
  {% endwith %}
  {% with value=data.administration_beneficiaire copy_value=data.administration_beneficiaire %}
    {% include "docia/details_ej/blocks/attribute.html" with title="Administration bénéficiaire" id=id_prefix|add:"administration_beneficiaire" %}
  {% endwith %}
  {% with value=data.societe_principale copy_value=data.societe_principale %}
    {% include "docia/details_ej/blocks/attribute.html" with title="Société principale" id=id_prefix|add:"societe_principale" %}
  {% endwith %}
  {% if data.date_marche|dict_has_values %}
    {% with dm=data.date_marche %}
      {% if dm.duree_execution %}
        {% with value=dm.duree_execution copy_value=dm.duree_execution %}
          {% include "docia/details_ej/blocks/attribute.html" with title="Durée d'exécution" id=id_prefix|add:"date_marche_duree" suffix=" mois" %}
        {% endwith %}
      {% endif %}
      {% if dm.date_notification %}
        {% with value=dm.date_notification copy_value=dm.date_notification %}
          {% include "docia/details_ej/blocks/attribute.html" with title="Date de notification" id=id_prefix|add:"date_marche_notification" %}
        {% endwith %}
      {% endif %}
      {% if dm.date_fin_execution %}
        {% with value=dm.date_fin_execution copy_value=dm.date_fin_execution %}
          {% include "docia/details_ej/blocks/attribute.html" with title="Date de fin d'exécution" id=id_prefix|add:"date_marche_fin" %}
        {% endwith %}
      {% endif %}
    {% endwith %}
  {% endif %}
  {% if data.montant_initial|dict_has_values %}
    {% with m=data.montant_initial %}
      {% if m.ht %}
        {% with value=m.ht|floatformat:2 copy_value=m.ht %}
          {% include "docia/details_ej/blocks/attribute.html" with title="Montant initial HT" id=id_prefix|add:"montant_initial_ht" suffix=" €" %}
        {% endwith %}
      {% endif %}
      {% if m.taux_tva %}
        {% with value=m.taux_tva|as_percentage copy_value=m.taux_tva %}
          {% include "docia/details_ej/blocks/attribute.html" with title="Taux TVA" id=id_prefix|add:"montant_initial_taux_tva" %}
        {% endwith %}
      {% endif %}
      {% if m.tva %}
        {% with value=m.tva|floatformat:2 copy_value=m.tva %}
          {% include "docia/details_ej/blocks/attribute.html" with title="Montant initial TVA" id=id_prefix|add:"montant_initial_tva" suffix=" €" %}
        {% endwith %}
      {% endif %}
      {% if m.ttc %}
        {% with value=m.ttc|floatformat:2 copy_value=m.ttc %}
          {% include "docia/details_ej/blocks/attribute.html" with title="Montant initial TTC" id=id_prefix|add:"montant_initial_ttc" suffix=" €" %}
        {% endwith %}
      {% endif %}
    {% endwith %}
  {% endif %}
</ul>
{% endwith %}
