{% extends "dsfr/base.html" %}

{% block title %}
<title>Dépenses Éclairées</title>
{% endblock %}

{% block opengraph %}
  {% if settings.MATOMO_URL %}
    <!-- Matomo Tag Manager -->
    <script>
      var _mtm = window._mtm = window._mtm || [];
      _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
      (function() {
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='{{ settings.MATOMO_URL }}'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Tag Manager -->
  {% endif %}
{% endblock opengraph %}

{% block header %}
  {% include "docia/blocks/header.html" %}
{% endblock header %}

{% block footer %}
  {% include "docia/blocks/footer.html" %}
{% endblock footer %}
