<div>
  <h4>Durée</h4>
  <ul class="fr-list">
    {% with title="Initiale" field_name="duree_initiale" %}
      {% include "docia/details_ej/blocks/attribute.html" %}
    {% endwith %}
    {% with title="Reconductions possibles" field_name="nb_reconductions" %}
      {% include "docia/details_ej/blocks/attribute.html" %}
    {% endwith %}
    {% with title="Durée d'une reconduction" field_name="duree_reconduction" suffix=" mois" %}
      {% include "docia/details_ej/blocks/attribute.html" %}
    {% endwith %}
    {% if data.delai_tranche_optionnelle %}
      {% with title="Délais des tranches" field_name="delai_tranche_optionnelle" %}
        {% include "docia/details_ej/blocks/attribute.html" %}
      {% endwith %}
    {% endif %}
  </ul>
</div>
